<script setup lang="ts">
import {convertFileSrc, invoke} from "@tauri-apps/api/tauri";
import {open} from "@tauri-apps/api/dialog";
import {downloadDir} from "@tauri-apps/api/path";
import {writeText} from "@tauri-apps/api/clipboard";
import {listen} from "@tauri-apps/api/event";
import {onUnmounted, ref} from "vue";

let file = ref('');
let safeFileUrl = '';
let decrypted = ref('');

const decDropUnlisten = await listen<string>('tauri://file-drop', async (event) => {
    console.log( '[DEC] File dropped', event.payload );
    const path = event.payload[0]
    file.value = path;

    safeFileUrl = convertFileSrc(path);
});

onUnmounted( () => {
    decDropUnlisten();
} );

const warningStrings = [
    'No encryption key set. Please enter one.'
]

async function  decrypt() {
    const output = document.getElementById( 'output' );
    const outputText = document.querySelector( '.output-text' );
    const dropzone = document.querySelector( '.dropzone' );
    const text = document.querySelector( '.dropzone_text' ) as HTMLElement;
    const passwordInput = document.getElementById( 'passwordInput' ) as HTMLInputElement;
    let key = '';

    if ( text && output && outputText && dropzone && passwordInput ) {

        if ( passwordInput.value.length === 0 ) {
            passwordInput.classList.add( 'error' );
            passwordInput.value = warningStrings[0];
        } else {
            key = passwordInput.value;
            try {
                text.innerText = 'Decrypting...';

                let ret = await invoke("decrypt_file", {
                    source: file.value,
                    key: key
                }) as string;

                text.innerText = 'Decrypted!';
                decrypted.value = ret;
                output.classList.remove( 'hide' );
                safeFileUrl = convertFileSrc(ret);

            } catch (e) {
                dropzone.classList.toggle( 'error' );
                console.error( e );
                text.innerText = e as string;
            }
        }
    } else {
      console.error( 'Missing elements! text, output, outputText, dropzone, passwordInput', text, output, outputText, dropzone, passwordInput );
      passwordInput.classList.add( 'error' );
      passwordInput.value = warningStrings[0];
    }
}

async function  openFile() {
    // Open a selection dialog for directories
    const selected = await open({
        multiple: false,
        defaultPath: await downloadDir(),
    });
    if (selected === null) {
        console.log( 'Cancelling selection' );
    } else {
        file.value = selected as string;
        console.log( file.value );
    }
}

async function  copyTextToClipboard() {
    const text = document.getElementById( 'decrypted' )?.textContent;
    if ( text ) {
        await writeText( text );
    } else {
        console.error('No text!')
    }
}
</script>

<template>
    <section class="body">
        <article class="card">
            <div class="dropzone"
                 @click="openFile">
                <div class="imgCard" v-if="file">
                    <img :src="safeFileUrl"  alt="Provided file"/>
                    <h2 class="dropzone_text">{{file}}</h2>
                </div>
                <div v-else>
                    <h2 class="dropzone_text">Drop file here to decrypt</h2>
                </div>
            </div>

            <div class="row">
                <input id="passwordInput" type="text" placeholder="Password used to encrypt the file." />
            </div>

            <div class="row buttons">
                <button type="button" @click="decrypt()">Decrypt</button>
            </div>
            <div id="output" class="row hide">
                <p class="output-text">{{ decrypted }}</p>
                <button @click="copyTextToClipboard()">Copy</button>
            </div>
        </article>
    </section>
</template>
