<script setup lang="ts">
import { ref } from "vue";
import { invoke } from "@tauri-apps/api/tauri";
import { writeText } from '@tauri-apps/api/clipboard';

const decrypted = ref("");
const text = ref("");

const warningStrings = [
    'Cannot generate with 0 words. Please pick a number',
    'No data to decrypt. Please enter some data.'
]

async function decrypt() {
    const textInput = document.getElementById( 'words-input' );
    const output = document.querySelector( '.output' );

    if ( textInput && output ) {
        text.value = textInput.innerText;
        textInput.addEventListener( 'focus', () => {
            if ( textInput.classList.contains( 'error' ) ) {
                textInput.classList.remove( 'error' );
            }
            if ( warningStrings.includes( text.value ) ) {
                text.value = '';
            }
        } );
        if ( !text.value ) {
            text.value = warningStrings[1];
            textInput.classList.toggle('error');
        } else {
            let ret: [number] = await invoke("decrypt_text", {
                text: text.value,
            });

            if ( ret.length > 0) {
                decrypted.value = String.fromCharCode( ...ret );
                output.classList.remove( 'hide' );
            } else {
                textInput.classList.toggle( 'error' );
            }
        }
    }
}

// Clear default text on focus if present
async function textareaFocusIn(evt: any) {
    if ( evt.target.innerText === 'Enter text you want to decrypt...') {
        evt.target.innerText = '';
    }
}

async function textareaFocusOut(evt: any) {
    if ( evt.target.innerText === '') {
        evt.target.innerText = 'Enter text you want to decrypt...';
    }
}

async function copyTextToClipboard() {
    const text = document.getElementById( 'decrypted' )?.innerText;
    if ( text ) {
        await writeText( text );
    } else {
        console.error('No text!')
    }
}
</script>

<template>
    <section class="body">
        <article class="card">
            <div class="row">
                <div id="words-input"
                     @focusin="textareaFocusIn"
                     @focusout="textareaFocusOut"
                     class="textarea" contenteditable>Enter text you want to decrypt...</div>
            </div>
            <div class="row buttons">
                <button type="button" @click="decrypt">Decrypt</button>
            </div>
            <div class="output row hide">
                <p class="output-text" id="decrypted">{{ decrypted }}</p>
                <button @click="copyTextToClipboard">Copy</button>
            </div>
        </article>
    </section>
</template>
