<script setup lang="ts">
import { ref } from "vue";
import { invoke } from "@tauri-apps/api/tauri";
import { writeText } from '@tauri-apps/api/clipboard';

const encrypted = ref("");
const text = ref("");

const warningStrings = [
    'Cannot generate with 0 words. Please pick a number',
    'No data set to encrypt. Please enter some data.'
]

async function encrypt() {
    const textInput = document.getElementById( 'words-input' );
    const output = document.querySelector( '.output' );
    if ( textInput && output ) {
        text.value = textInput.innerText;
        textInput.addEventListener( 'focus', () => {
            if ( textInput.classList.contains( 'error' ) ) {
                textInput.classList.remove( 'error' );
            }
            if ( warningStrings.includes( text.value ) ) {
                text.value = '';
            }
        } );
        if ( !text.value ) {
            text.value = warningStrings[1];
            textInput.classList.toggle('error');
        } else {
            // Learn more about Tauri commands at https://tauri.app/v1/guides/features/command
            encrypted.value = await invoke("encrypt_text", {
                text: text.value,
            });

            if ( encrypted.value !== 'FAILED' ) {
                output.classList.remove( 'hide' );
            } else {
                textInput.classList.toggle('error');
            }
        }
    }
}

// Clear default text on focus if present
async function textareaFocusIn(evt: any) {
    if ( evt.target.innerText === 'Enter text you want to encrypt...') {
        evt.target.innerText = '';
    }
}

async function textareaFocusOut(evt: any) {
    if ( evt.target.innerText === '') {
        evt.target.innerText = 'Enter text you want to encrypt...';
    }
}

async function copyTextToClipboard() {
    const text = document.getElementById( 'encrypted' )?.textContent;
    if ( text ) {
        await writeText( text );
    } else {
        console.error('No text!')
    }
}

</script>

<template>
    <section class="body">
        <article class="card">
            <div class="row">
                <div id="words-input"
                     @focusin="textareaFocusIn"
                     @focusout="textareaFocusOut"
                     class="textarea" contenteditable>Enter text you want to encrypt...</div>
            </div>
            <div class="row buttons">
                <button type="button" @click="encrypt">Encrypt</button>
            </div>
            <div class="output row hide">
                <p class="output-text" id="encrypted">{{ encrypted }}</p>
                <button @click="copyTextToClipboard">Copy</button>
            </div>
        </article>
    </section>
</template>
