<script setup lang="ts">
import { ref } from "vue";
import { invoke } from "@tauri-apps/api/tauri";
import {writeText} from "@tauri-apps/api/clipboard";
import Select from "./components/Select.vue";

const password = ref("");
const passwordLength = ref(0);
const words = ref("");
const warning = ref("");

const numbers = ref(false);
const symbols = ref(false);
const upper = ref(false);
const type = ref("passphrase");

const warningStrings = [
    "Cannot generate with 0 words. Please pick a number",
    'No value set for words. Please pick a number'
]

async function generate() {
    const numberInput = document.getElementById( 'words-input' );
    const output = document.getElementById( 'output' );

    if ( numberInput && output ) {
        numberInput.addEventListener( 'focus', () => {
            if ( numberInput.classList.contains( 'error' ) ) {
                numberInput.classList.remove( 'error' );
            }
            if ( warningStrings.includes( words.value ) ) {
                words.value = '';
            }
        } );
        if (!words.value) {
            words.value = warningStrings[1];
            numberInput.classList.toggle('error');
        } else if (words.value === "0") {
            words.value = warningStrings[0];
            numberInput.classList.toggle('error');
        } else {
            output.classList.remove( 'hide' );
            if ( type.value === 'password' ) {
                password.value = await invoke("generate_password", {
                    length: parseInt(words.value),
                    numbers: numbers.value,
                    symbols: symbols.value,
                    upper: upper.value
                })
            } else {
                password.value = await invoke("generate_passphrase", {
                    words: parseInt(words.value),
                    numbers: numbers.value
                });
            }
            passwordLength.value = password.value.length
        }
    }
}

async function copyTextToClipboard() {
    const text = document.getElementById( 'encrypted' )?.textContent;
    if ( text ) {
        await writeText( text );
    } else {
        console.error('No text!')
    }
}

async function checkboxHandle(event: any) {
    if ( event.target.classList.contains( 'checkbox-container' ) ) {
        const checkbox = event.target.querySelector( 'input' );
        const checkmark = event.target.querySelector( '.checkmark' );

        checkbox.toggleAttribute( 'checked' );
        checkmark.classList.toggle( 'checked' );
    }
}
</script>

<template>
    <section class="body">
        <article class="card">

            <Select @input="(t) => type = t" :default="type"  :options="['password', 'passphrase']"/>

            <div class="row">
                <input id="words-input"
                       class="no-margin"
                       v-model="words"
                       :placeholder="type === 'password' ? 'Enter number of words you want to generate' : 'Enter number of characters you want to generate'"
                />
            </div>

            <div class="row">
                <label @click="checkboxHandle"
                       id="checkbox-numbers"
                       class="checkbox-container">Use numbers?
                    <input type="checkbox" checked id="numbers-input" v-model="numbers" />
                    <span class="checkmark"></span>
                </label>

                <label @click="checkboxHandle"
                       id="checkbox-passphrase"
                       class="checkbox-container">Use symbols?
                    <input type="checkbox" checked id="symbols-input" v-model="symbols" />
                    <span class="checkmark"></span>
                </label>

                <label v-if="type === 'password'"
                       @click="checkboxHandle"
                       id="checkbox-upper"
                       class="checkbox-container">Use uppercase letters?
                    <input type="checkbox" checked id="upper-input" v-model="upper" />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="row buttons">
                <button type="button" @click="generate()">Generate</button>
            </div>

            <div id="output" class="output row space-around hide">
                <div class="column">
                    <strong>{{ password }}</strong>
                    <p>{{ passwordLength }} chars</p>
                </div>
                <button @click="copyTextToClipboard()">Copy</button>
            </div>

        </article>
    </section>
</template>