<template>
    <section class="body">
        <article class="column">
            <h1>Welcome to Oxide</h1>
            <p>An encryption/security tool to help with generating secure passwords and securing text or files with those passwords.</p>
        </article>
        <article class="column">
            <h2><router-link to="/passphrase">Password/passphrase Generation</router-link></h2>
            <h4>Another password generator?</h4>
            <p>
                Yes. I find a lot of password generators either don't place enough emphasis on the <em>length</em>
                of the passwords/phrases or default to difficult to remember, easy to guess ones
                (<a href="https://xkcd.com/936/" target="_blank"> Tr0ub4dor&3 anyone?</a>)
                and in this day and age, it seems like everyone should be doing better (yes I know passwordless is
                "a thing" but I am sceptical and it's just offloading the password generation to a device so there's
                nothing to remember and getting someones device is much easier than getting a password from a brain.
                At least to me)
            </p>
        </article>
        <article class="column">
            <h2><router-link to="/encrypt-file">File Encryption</router-link></h2>
            <h4>Why encrypt files?</h4>
            <p>
                File encryption can be important if you want to share or store sensitive information but don't have any
                automatic means of doing so. Many applications and services provide this (Proton Drive for example), but,
                having the means to do so yourself can be very beneficial as you control the encryption keys
                and the method of transport. Rather than relying on an external service and trusting their security
                you can trust your own.
            </p>
        </article>
    </section>
</template>

<script>
export default {
    name: "Home"
}
</script>

<style scoped>

</style>
