<script setup lang="ts">
import {onUnmounted, ref} from "vue";
import {convertFileSrc, invoke} from "@tauri-apps/api/tauri";
import {message, open} from "@tauri-apps/api/dialog";
import {downloadDir} from "@tauri-apps/api/path";
import {listen} from "@tauri-apps/api/event";
import {writeText} from "@tauri-apps/api/clipboard";

const decoded = ref("");
const password = ref("");
const passwordLength = ref(0);
const file = ref("");
let safeFileUrl = '';
let isDragging = false;
let decoding = false;

const warningStrings = [
    'No data set to encode. Please enter some data.'
]

const stegDecDropUnlisten = await listen<string>('tauri://file-drop', async (event) => {
    console.log( '[ENC] File dropped', event.payload[0] );
    const path = event.payload[0]
    file.value = path;
    safeFileUrl = convertFileSrc(path);
});

onUnmounted( () => {
    stegDecDropUnlisten();
})

async function generate() {
    password.value = await invoke("generate_password", {
        length: 32,
        upper: true,
        symbols: true,
        numbers: true
    }) as string;
    passwordLength.value = password.value.length;
}

async function copyTextToClipboard( event: any ) {
    const text = document.getElementById( 'passwordInput' ) as HTMLInputElement;
    if ( text ) {
        await writeText( text.value );
        event.target.innerText = 'Copied!';
        setTimeout( () => {
            event.target.innerText = 'Copy';
        }, 3000 );
    } else {
        console.error('No text!')
    }
}

async function openFile() {
    // Open a selection dialog for directories
    const selected = await open({
        multiple: false,
        defaultPath: await downloadDir(),
    });
    if (selected === null) {
        console.log( 'Cancelling selection' );
    } else {
        file.value = selected[0];
    }
}

async function decode( ) {
    const output = document.getElementById( 'output' );
    const outputText = document.querySelector( '.output-text' );
    const dropzone = document.querySelector( '.dropzone' );
    const dropzoneText = document.createElement( 'h2' );
    const passwordInput = document.getElementById( 'passwordInput' ) as HTMLInputElement;
    let key = '';

    if ( output ) {
        if ( outputText ) {
            if ( dropzone ) {
                if ( passwordInput ) {
                    dropzone.classList.remove( 'error' );
                } else {
                    console.log( 'No password input' );
                }
            } else {
                console.log( 'No dropzone' );
            }
        } else {
            console.log( 'No outputText' );
        }
    } else {
        console.log( 'No output' );
    }

    if ( output && outputText && dropzone && passwordInput ) {

        dropzone.classList.remove( 'error' );
        try {

            if ( passwordInput.value === '' ){
                await generate();
                key = password.value;
                passwordInput.value = password.value;
            } else {
                key = passwordInput.value;
            }

            dropzone.innerHTML = '';
            dropzoneText.innerText = 'Decoding...';
            decoding = true;
            dropzone.append( dropzoneText );

            let ret = await invoke("stego_decode", {
                filepath: file.value,
                password: password.value,
            }) as string;

            dropzone.innerHTML = '';
            dropzoneText.innerText = 'Decoded!';
            dropzone.append( dropzoneText );
            decoded.value = ret;
            output.classList.remove( 'hide' );
            decoding = false;
            setTimeout( () => {
                dropzone.innerHTML = '';
                dropzoneText.innerText = 'Drop file to decode';
                dropzone.append( dropzoneText );
            }, 5000 );
        } catch (e) {
            dropzone.classList.toggle( 'error' );
            console.error( e );
            dropzone.innerHTML = '';
            dropzoneText.innerText = e as string;
            dropzone.append( dropzoneText );
            decoding = false;
        }
    } else {
        console.error( 'No output!' );
        dropzone?.classList.toggle( 'error' );
        decoding = false;
    }
}

</script>

<template>
    <section class="body">
        <article class="card">
            <div
                    class="dropzone"
                    @click="openFile"
            >
                <div v-if="file" class="imgCard">
                    <img :src="safeFileUrl" />
                    <h2>{{file}}</h2>
                </div>
                <div v-else>
                    <h2 class="dropzone_text" v-if="isDragging">Release to drop files here.</h2>
                    <h2 class="dropzone_text" v-else>Drop file here or <u>click here</u> to upload.</h2>
                </div>

                <div v-if="decoding" class="splash">
                    <div class="lds"><div></div><div></div><div></div></div>
                </div>
            </div>

            <div class="row">
                <input
                        id="passwordInput"
                        type="text"
                        placeholder="Password used to encrypt the file."
                        v-model="password"
                />
            </div>

            <div class="row buttons">
                <button type="button" @click="decode">Decode</button>
            </div>

            <div id="output" class="column hide">
                <strong>Encrypted file saved to: </strong>
                <p class="output-text">{{ decoded }}</p>
            </div>
        </article>
    </section>
</template>

<style scoped>

</style>