<template>
    <label class="theme-toggle">
        <input id="themeCheckbox" type="checkbox" class='theme-switch hide' v-model="darkMode"/>
        <img class="theme_icon" alt="Weather icon" src="./assets/weather.svg"/>

    </label>
    <div class="navbar">
        <div class="navigation">
            <router-link to="/">Home</router-link>
            <router-link to="/encrypt">Encrypt text</router-link>
            <router-link to="/decrypt">Decrypt text</router-link>
            <router-link to="/passphrase">Create password</router-link>
            <router-link to="/encrypt-file">Encrypt file</router-link>
            <router-link to="/decrypt-file">Decrypt file</router-link>
            <router-link to="/stego-encode">Steganography encode</router-link>
            <router-link to="/stego-decode">Steganography decode</router-link>
        </div>
        <div class="nav_about">
            <p>Created by Vapourisation</p>
            <a href="https://gitlab.com/Vapourisation/tauri_gui" target="_blank">Source (GitLab)</a>
        </div>
    </div>

    <div v-if="loading" class="splash">
        <div class="lds"><div></div><div></div><div></div></div>
    </div>

    <div class="column">
        <article class="heading">
            <h1>{{currentRouteName}}</h1>
        </article>
        <suspense timeout="0">
            <router-view v-slot="{ Component }">
                    <transition name="slide-left">
                        <component :is="Component" />
                    </transition>
            </router-view>
        </suspense>
    </div>
</template>

<script>
import { appWindow } from '@tauri-apps/api/window';
let desktopTheme = await appWindow.theme();

const unlisten = await appWindow.onThemeChanged(({ payload: theme }) => {
    const html = document.querySelector('html');
    html.setAttribute('theme', theme);
});

export default {
    data() {
        return {
            darkMode: desktopTheme === 'dark',
            loading: true
        }
    },
    unmounted() {
        unlisten();
    },
    mounted() {
        // check for active theme
        let htmlElement = document.documentElement;
        let theme = localStorage.getItem("theme");

        theme = theme ? theme : desktopTheme;

        console.log('New theme: ' + theme);

        if (theme === 'light') {
            htmlElement.setAttribute('theme', 'light')
            this.darkMode = false
        } else {
            htmlElement.setAttribute('theme', 'dark');
            this.darkMode = true
        }

        setTimeout(() => {
            this.loading = false
        }, 3000)
    },
    methods: {
      setDarkMode( theme ) {
          if ( theme === 'dark' ){
              this.darkMode = true
          } else {
              this.darkMode = false
          }
      }
    },
    computed: {
        currentRouteName() {
            return this.$route.name;
        }
    },
    watch: {
        darkMode: function () {
            // add/remove class to/from html tag
            let htmlElement = document.documentElement;

            if (this.darkMode) {
                localStorage.setItem("theme", 'dark');
                htmlElement.setAttribute('theme', 'dark');
            } else {
                localStorage.setItem("theme", 'light');
                htmlElement.setAttribute('theme', 'light');
            }
        }
    }
}
</script>