@font-face {
  font-family: 'Glacial';
  src: url('./fonts/glacial/glacialindifference-regular-webfont.woff2');
}

@font-face {
  font-family: 'Glacial Bold';
  src: url('./fonts/glacial/glacialindifference-bold-webfont.woff2');
}

$font-main: "Glacial", monospace;
$font-bold: "Glacial Bold", monospace;
$font-extra-bold: "Glacial Bold", monospace;

@import "scss/variables-dark";

[theme='light'] {
  @import "scss/variables-light";
}

.theme-toggle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
}

// custom animations

.slide-left-enter-active {
  -webkit-animation: fadeIn .5s both; /* attach the animation to bar rather than baz */
  animation: fadeIn .5s both;
  transition: all .5s ease-in-out;
}
.slide-left-leave-active {
  -webkit-animation: fadeOut .5s both; /* attach the animation to bar rather than baz */
  animation: fadeOut .5s both;
  transition: all .5s ease-in-out;
}
.slide-left-enter, .slide-left-leave-to{
  transform: translateX(85vw);
  z-index: 2;
}

.slide-left-enter-to {
  position: absolute;
  width: 85vw;
  top: 72px;
  left: -75vw;
  transform: translateX(90vw);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}