$green: #d4fcc3;
$red: #c44536;
$blue: #003459;
$cyan: #46b1c9;
$magenta: #564256;
$yellow: #f49f0a;
$white: #fff;
$black: #000;

$text-colour: darken($white, 10%);
$text-colour-light: $white;
$text-colour-active: $cyan;
$text-colour-active-alt: $yellow;

$bg-colour: darken($blue, 10%);
$input-bg: lighten($bg-colour, 5%);
$nav-bg: $input-bg;
$nav-shadow: 5px 0 15px 5px rgba($bg-colour, .8);
$heading-shadow: 0 5px 10px 3px rgba($bg-colour, .5);
$input-bg-alt: $yellow;
$input-shadow: 0 0 15px 5px rgba($input-bg, .3);
$input-border: $blue;

$button-colour-alt: $text-colour-active;
$button-text-colour-alt: $bg-colour;
$button-border-colour: $input-bg;
$button-border-colour-alt: $text-colour-active-alt;
$button-border: none;
$button-border-alt: none;
$button-shadow: 0 1px 3px rgba($button-border-colour, .12), 0 1px 2px rgba($button-border-colour, .24);
$button-shadow-hover: 0 14px 28px rgba($button-border-colour, .25), 0 10px 10px rgba($button-border-colour, .22);
$button-shadow-alt: 0 1px 3px rgba($button-colour-alt, .12), 0 1px 2px rgba($button-colour-alt, .24);
$button-shadow-alt-hover: 0 14px 28px rgba($button-colour-alt, .25), 0 10px 10px rgba($button-colour-alt, .22);

$icon-filter: invert(60%) sepia(84%) saturate(317%) hue-rotate(144deg) brightness(89%) contrast(87%);

:root {
  background-color: $bg-colour;
  color: $text-colour;
  font-size: 16px;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: $font-main;
}

// --------------------------------------------------------------------
// custom scrollbar
// --------------------------------------------------------------------

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $nav-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-colour-active;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-colour-active;
}


body {
  background-color: $bg-colour;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: $nav-shadow;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: $font-bold;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.space-between {
    align-items: center;
    justify-content: space-between;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  .column {
    padding: 1rem;

    p {
      margin: 0;
    }
  }

  p {
    text-align: center;
  }
}

.buttons {
  background: none;
  button {
    margin: 1rem;
  }
}

.column {
  display: flex;
  flex-flow: column nowrap;

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.space-between {
    align-items: center;
    justify-content: space-between;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}


a {
  color: $text-colour;

  &:hover {
    color: $text-colour-light;
  }
}

input,
button {
  background: $input-bg;
  color: $text-colour-light;
  font-family: inherit;
  outline: none;
  padding: 1rem 1.5rem;
}

button {
  border: $button-border;
  box-shadow: $button-shadow;
  font-family: $font-main;
  font-size: 1rem;
  transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1),
              background .3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    background: lighten($input-bg, 10%);
    box-shadow: $button-shadow-hover;
    cursor: pointer;
  }

  &:active {
    background: lighten($input-bg, 20%);
    box-shadow: $button-shadow-hover;
  }

  &.alt {
    background: $button-colour-alt;
    box-shadow: $button-shadow-alt;
    color: $button-text-colour-alt;

    &:hover {
      box-shadow: $button-shadow-alt-hover;
      cursor: pointer;
    }
  }

  &.warning {
    box-shadow: 0 0 15px 5px rgba( $red, .5);
  }
}

input,
.textarea {
  background: $input-bg;
  border: 0;
  border-bottom: 2px solid $input-border;
  cursor: text;

  &.error {
    border-color: $red;
    box-shadow: 0 8px 10px -5px $red;
  }
}

.textarea {
  color: $text-colour;
  font-family: Glacial, sans-serif;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .5rem;
  width: 100%;

  &:focus, &:focus-within, &:active {
    border: 1px solid $text-colour-active;
  }
}


// ------------------------------------------------------------------------------------
// Custom Checkbox
// ------------------------------------------------------------------------------------
.checkbox-container {
  cursor: pointer;
  display: block;
  margin: 2rem;
  padding-left: 35px;
  position: relative;
  user-select: none;

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  .checkmark {
    background-color: $bg-colour;
    border: 2px solid $text-colour-active;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;

    &::after {
      border: solid $text-colour-active;
      border-width: 0 3px 3px 0;
      content: '';
      display: none;
      height: 10px;
      left: 9px;
      position: absolute;
      top: 5px;
      transform: rotate(45deg);
      width: 5px;
    }

    &.checked {
      &::after {
        display: block;
      }
    }
  }
}


// ------------------------------------------------------------------------------------
// Main Containers
// ------------------------------------------------------------------------------------

#app {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section.body {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loader {
  display: none;
  background: $text-colour-active;
  width: 100vw;
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.navbar {
  background: $nav-bg;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-height: 100vh;
  max-width: 200px;
  position: relative;
  width: 15vw;
  z-index: 5;

  .navigation {
    display: flex;
    flex-flow: column nowrap;

    a:hover {
      color: $text-colour-active;
      display: inline-block;
      background: lighten($nav-bg, 10%);
      border-left: 3px solid $text-colour-active;
      padding-left: calc(1rem - 3px);
    }
  }

  .nav_about {
    border-top: 1px solid $text-colour-active;
    padding: 0 1rem 1rem 1rem;

    a, p {
      padding: 0;
    }
  }

  a, p {
    padding: 1rem 1rem;
    text-decoration: none;

    span {
      display: none;
    }
  }

  .router-link-exact-active {
    color: $text-colour-active;
    display: inline-block;
    background: lighten($nav-bg, 10%);
    border-left: 3px solid $text-colour-active;
    padding-left: calc(1rem - 3px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 85vw;
}

article {
  padding: 2rem;
  width: calc(100% - 4rem);
}

.heading {
  align-items: flex-start;
  background: $nav-bg;
  box-shadow: $heading-shadow;
  justify-content: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-align: left;
  width: calc(85vw - 2rem);
  z-index: 2;

  h1 {
    margin: .5rem;
    text-align: left;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  input {
    max-width: 100%;
    width: 100%;
  }

  .row {
    input {
      margin-right: .5rem;
    }
  }

  button {
    margin-bottom: 1rem;
  }
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  strong, p {
    margin-bottom: .5rem;
  }

  .output-text {
    margin-right: .5rem;
    text-align: left;
    white-space: initial;
    word-wrap: break-word;
    width: calc(100% - 8rem);
  }

  button {
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

// ------------------------------------------------------------------------------------
// Custom file drop
// ------------------------------------------------------------------------------------

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background: $input-bg;
  box-shadow: $input-shadow;
  margin: 2rem 0;
  min-width: 50%;
  cursor: pointer;

  .imgCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      max-width: calc(80% - 4rem);
    }
  }

  input {
    display: none;
  }

  &.error {
    border: 2px solid $red;
    box-shadow: 0 0 15px 5px $red;
  }
}

.file-label {
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.preview-container {
  display: flex;
  margin: 0 0 2rem 0;
  justify-content: space-between;
}

.preview-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 1px solid $text-colour-active;
  box-shadow: 0 0 15px 5px rgba($text-colour-active, 0.3);
  position: relative;
  margin: .5rem;

  .row {
    align-items: center;
    justify-content: center;
    padding: 0 0 0 .5rem;
    text-align: center;
    max-width: calc( 100% - .5rem);

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &:nth-child(2) {
      bottom: 0;
      position: absolute;
      border-top: 1px solid $text-colour-active;
    }

    button {
      margin: 0 0 0 1rem;
    }
  }
}

.preview-img {
  width: 300px;
  height: auto;
}

.theme-toggle {
  .icofont {
    color: $text-colour;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Splash screen
// ---------------------------------------------------------------------------------------------------------------------
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  z-index:5;
  background-color: $bg-colour;

  .lds {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $text-colour-active;
    animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  .lds div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  .lds div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }

  @keyframes lds {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
}

// custom select
.custom-select {
  position: relative;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
  margin-bottom: 2rem;
}

.custom-select .selected {
  background-color: $input-bg;
  border-bottom: 2px solid $input-border;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .selected.open {
  border-bottom: 2px solid $input-border;
}

.custom-select .selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: $text-colour transparent transparent transparent;
}

.custom-select .items {
  overflow: hidden;
  border-right: 1px solid $input-border;
  border-left: 1px solid $input-border;
  border-bottom: 1px solid $input-border;
  position: absolute;
  background-color: $input-bg;
  left: 0;
  right: 0;
  z-index: 1;
}

.custom-select .items div {
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .items div:hover {
  background-color: lighten($input-bg, 10%);
}

.selectHide {
  display: none;
}

// Image stylings

.theme_icon {
  filter: $icon-filter;
}